@model IEnumerable<RealTimeProducts.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $.connection.hub.start()
            .done(function () {
                console.log("SignalR: Connected")
            })
            .fail(function () {
                alert("Error!")
            });

        $.connection.myHub.client.announce = function (message) {
            console.log(message);
            location.reload();
        }

        $(document).ready(function () {
            var table = $("#products").DataTable({
                ajax: {
                    url: "/api/product",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "imagen",
                        render: function (data, type, row) {
                            return "<img src='" + data + "' width='100px' height='100px'>";
                        }
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "stock"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-product-id=" + data + "> Eliminar </button>";
                        }
                    }
                ]
            });

            $("#products").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("¿Desea eliminar a este producto?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/product/" + button.attr("data-product-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                console.log("Eliminado");
                                $.connection.myHub.server.announce("Producto Eliminado");
                            }
                        });
                    }
                });
            });

        });
    </script>
}
